@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --white: #f9f9f9;
    --dark: #222;
    --green-light: #00df5e;
    --yellow: #f7df1e;
    --gray: #828282;
    --gray-200: #333333;
    --gray-400: #212121;
    --alpha: 0.8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s;
}

a:hover {
    color: var(--yellow);
}

body {
    background: linear-gradient(135deg, rgba(34, 34, 34, 0.9), rgba(0, 0, 0, 0.9));
    color: var(--white);
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container {
    width: 80%;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 83px;
    position: sticky;
    background-color: rgba(var(--gray-400-rgb), var(--alpha));
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header .content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .content span.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--yellow);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

header .content ul {
    display: flex;
    gap: 60px;
    font-size: 20px;
}

header .content ul li {
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
}

main .left {
    width: 377px;
}

main .left h1 {
    font-size: 2.5rem
